.flex-container {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.container {
    padding-bottom: 10px;
    padding-top: 10px;
}

button {
    background-color: steelblue;
}